
{% load staticfiles %}
{% include 'indexx.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
        <h1>Dodaj Wydarzenie</h1>
<form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-color rounded-0 mt-4 pl-4 pr-4" name = 'agree'><a href="/addturnament?turnamentId={{turnament.id}}">Dodaj Turniej</a></button>
        </form>
    </div>
  </div>
 {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}

