
<!DOCTYPE html>
<html lang="en">
<!doctype html>
</html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <header class="page-header">
        <div class = "jumbotron">
        <nav class="navbar navbar-expand-lg justify-content-around">
            <h1>Turniejowy Informator Rycielski </h1>
            <ul class="nav nounderline text-uppercase">

                <li class="nav-item ml-4">
                        <button type="button" class="btn btn-outline-primary">
                            <a class="nav-link color-header" href="{% url "login" %}">Logowanie</a>
                        </button>


                </li>
                <li class="nav-item ml-4">
                    <button type="button" class="btn btn-outline-primary">
                        <a class="nav-link color-header" href="register">Rejestracja</a>
                    </button>
                </li>
            </ul>
        </div>
        </nav>
    </body>
    </header>