{% include 'indexx.html' %}
{% block container %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!doctype html>
</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Turnieje</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:400,600,700&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body class="recipes-section">

    <section>
        <div class="row padding-small">
            <i class="fas fa-users icon-users"></i>
            <h1>Turnieje</h1>
            <hr>
            <div class="orange-line w-100"></div>
        </div>
    </section>

    <section class="mr-4 ml-4">
    <table class="table">
            <thead>
              <tr class="d-flex text-color-darker">
                <th scope="col" class="col-5">Nazwa</th>
              </tr>
            </thead>
            <tbody class="text-color-lighter">

            {% for turnament in turnaments_paginator %}
              <tr class="d-flex">
                <td class="col-5">
                    {{ turnament.name }}
                </td>
                 <td>
                    <button class="btn btn-color rounded-0 mt-4 pl-4 pr-4" name = 'agree'><a href="/takepart?turnamentId={{turnament.id}}">Wez Udzial</a></button>
                </td>

              </tr>

            {% endfor %}
            {% if turnaments_paginator.has_other_pages %}
                <div class="pagination">
                    <span class="step-links">
                        {% if turnaments_paginator.has_previous %}
                            <a href="/turnament?page=1"></a>
                            <a href="/turnament?page={{ turnaments_paginator.previous_page_number }}">Poprzednia</a>
                        {% endif %}
                        <span class="current">
                             Page {{ turnaments_paginator.number }} of {{ turnaments_paginator.paginator.num_pages }}
                        </span>

                        {% if turnaments_paginator.has_next %}
                            <a href="/turnament?page={{ turnaments_paginator.next_page_number }}">Kolejna</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
            {% for element in p %}
            <div class="carousel-item {%  if element.idx == 1 %}active{% endif %}">
                <th scope="row" class="col-1">{{ element.id }}</th>
                <td class="col-5">
                    {{ element.name }}
                </td>
                <td class="col-5">
                    {{ element.place }}
                </td>
                <td clas="col-5">{{ element.turnament_description }}</td>
              </tr>
             {% endfor %}
            <div class="col d-flex justify-content-end mb-2 noPadding">
            </tbody>
        </table>
    </section>
{% endblock%}
